.bg{
 border: 1px solid red;
}
.bg-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.btn{
    width: 150px;
    height: 50px;
    margin-top: 1%;
    margin-left: 3%;
    cursor: pointer;
}


.table-bg-container{
    display: flex;
    flex-direction: column;
    
    .table-form-div {
        overflow: hidden; 
        padding: 20px;
        display: flex;
        justify-content: center; 
        flex: 1;
        width: 90%;
    
        .table-1 {
            overflow: hidden; 
            display: flex;
            flex-direction: column;
            border: 1px solid grey;
            width: 100%;
            border-radius: 1rem;
    
        }
    
        table {
            width: 100%;
            border-collapse: collapse; 
    
        }
        
        thead {
            display: flex; 
            height: 60px; 
            overflow-y: auto; 
            overflow-x: hidden;
            background-color: rgb(133, 133, 119);
            padding: 10px;
            font-size: 15px;

            border-bottom: 1px solid #888;
        }
    
        thead tr {
            display: table; 
            width: 100%; 
            table-layout: fixed; 
        }
    
        tbody th{
            padding:10px 10px; 
            text-align: center; 
            border-top: 1px solid #ddd; 
            border-left: 1px solid pink; 
            box-sizing: border-box; 
            white-space: nowrap; 
        }
    
        
        tbody {
            display: block; 
            height: 300px; 
            overflow-y: auto; 
            overflow-x: hidden; 
            height: 200px;
        }
    
        tbody tr {
            display: table; 
            width: 100%; 
            table-layout: fixed; 
        
        }
    
        tbody td {
            padding: 18px 10px; 
            text-align: center; 
            border-top: 1px solid #ddd; 
            border-left: 1px solid #ddd; 
            box-sizing: border-box; 
            white-space: nowrap; 
            height: 30px;
        }
        tbody::-webkit-scrollbar {
            width: 8px; 
        }
    
        tbody::-webkit-scrollbar-track {
        
            border-radius: 1px; 
        }
    
        tbody::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 1px; 
        }
    
    }
    .button{
        cursor: pointer;
    }
}